<section class="birthday-service-card mb-4">
  <div class="carousel-container">
    <div id="decoracionCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- <div class="carousel-item active">
          <img src="https://hotelcottage.com.uy/images/eventos-cottage-cumple15-2019-054.jpg?crc=314125225" class="d-block w-100 service-image" alt="Decoración de Cumpleaños 1">
        </div>
        <div class="carousel-item">
          <img src="https://scontent.fmvd2-2.fna.fbcdn.net/v/t1.6435-9/118933505_2726198024373993_3962559688399217289_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=3a1ebe&_nc_ohc=G8nlxSqC9o8Q7kNvwGAg5JN&_nc_oc=AdnGdHjiShGyWHf6kegty8KGuSbyzi9g1ZTbEwZodrSjgt4YM2cndPzvaSU9u4fjpcpcNLM5vnbbVeKry4daXB2j&_nc_zt=23&_nc_ht=scontent.fmvd2-2.fna&_nc_gid=HElF8I1xCoknxIQvdpgPGA&oh=00_AfHaUXQj5AdLfRONvgXXhQviCraExA-cgU_M7NPubpJUgw&oe=683AA2B7" class="d-block w-100 service-image" alt="Decoración de Cumpleaños 2">
        </div> -->
        <div class="carousel-item">

          <section id="galeria">
              <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
                <div class="pa-gallery-player-widget"
                  data-link="https://photos.app.goo.gl/cQDetdQk9U4P5ttGA"
                  data-title="Álbum de Brian · Wednesday, Aug 27 📸"
                  data-description="Shared album · Tap to view!"
                  data-background-color="#ffffff">
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczM7FsclXJ52i2-9EeCwg9k92sAqgfmT_CDhwb6l5ZaeDfA9yesvQSE8Xcm0sYo8gUwoJBR-uqLZNsip_ru-zRQmilZN1fqiS6Q5Y9RBX_SdEt0RIw=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczNyg06L6tFqH1-85J9-v678OZw2XoMXfbs7J-PKO5MG4BMPOQ5decqFGxJApviI9m9AoBWj8zBHP8RKhP02gAp0jHyhp9nf2z7PR91RTqFcnxZ8-g=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczPvW_zE793bKlKkP7h7we_Y76qxeWm96JK77aYZaaQpubs-ykmErIB0FC1ckdG3kM3TLCkxhlSK-9bdJ_389UD-jRwDVdN5aSnpF9J7oYbt441SYg=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczOYvCtBgUvPWigWjxoWYkHlg9_4RcFog8SHE7Voubv43kNwXvSs5WQ_4rbqVIy9CS87tuXHGXfO3w23miBlzHTM3QhgUQDIfaSHziBcandt9LTQ2w=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczPke2yIsX0AFrKC6Kr3_45xU6hQPvo_AAe5GBbZFliWrdux6l9hUNHVrvPHugqEY_CSzUu_JEYoY5qQPSy2zic2NS0HO0hrToQ-bkUPiWWnjvzlkA=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczO3VVPuaJqKS8fdbQD1xM4-Tk5V59C415o4ooy10vJQCUKFo4dMQ9IRCHbx8XNg9X66jRNtRsDO222-VQ5D4Ih8Q-5zX5Opz7Jaz7Yu-X0zjfg5uw=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczOrz3djOcm91t1CU2nZg7SUXaGWUDIrYc5mQ67vVguMvAREqyyjRxEKjjXcJJ-FuhELJJrJMISiZ7fZ42sabBR9bm4TqOS4iMsnlCPDx-zXQfNl-Q=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczMpxewCbahtYynjpJLSE4c99TWNruGVXKf6H4tkc-JYuKGh1_6_yAPXdpt3yX-Qwv_j6hgS27Pc3JebjJ6VpLrcgjapfSEyhn9VUZ4FUUTFIYEpjA=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczPspN8lcwsD6te_2edlvCpLm2Pjx_4HLcHaaX_s47ZgkG39o4w72TdEphxTJI7RgP4JWkWApuVnfoff2kBIIibqo_-MkBOJzu_iImYohaHYVhQVGg=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczNj3UGq4r2lteL5VJao9XJuDOJ8lI2sG3Shb6XMTwDH1P4GJ5Mf8Z-LtxWDE62i2yoHGnQEmTOoUvua-rLWinJVA3zbOX_aJ_1goIJk_RnV_NdT4A=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczMDNrTHbFHQzm-MLOCM83vKNFDA_tjVxnewqmh2ULkkuP7IjM7k-iruRKB4BFdg6A47l23lFTcSDTsLVNK-QVqkMkW0JgAID7WqKrq073h_brCQ4g=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczN1x4QGeblh3idcJfqJusWI2TPZZa97_cvWI8pMy_-2QAhmPbvma2-sDwa1O6MOgW9KZRTc3l3WYn4ljHY_Mi9IiBDHpKI5VDW1b2SIcyZFZ_wf7g=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczMGPoL56unyKWfHHjAcseqypECDNbizVFqJ5Lre6bDFkD6bzGec9dWbRrdQ2b1kYnY5kxBiwhicg6F3DJaJfJsep8hL79tBoI1uk3DSy0-qU5T8FA=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczNVgz9b49ZAUES867r1cSR2MT87d_J44Dk7v8Lx20gSgy_IwIxZP11N7UvQ7byV2_AUBIFLGXnZvLvv0egIpFYOq3n3erruJzL3CFW7qnrpYaLTBg=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczPRmay9IdvKoidbK4QRRj14N7TXr29MZM58izOZMbpI_X9xTdyOZS-wguqod2E2fTGYeEQ14SsxfJMw75uAcl32dMGH3BdMqsU0IghZqf1-2_hD1A=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczMbBr7OoyTy5dKdREZgLksjxPuJ2HIa-W8fQpvC8vLEOxogUFgVfD7A8hdwJ09TCMJHzHcXOy-sAYstQNnthOr7sVHYztC7tm10KTSE8gXydKLpNw=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczO9_trmyeO_UAaFnIWfS1KMTEzAkyVJiZ3HT8tlR7vt7myOApcAAjwE2jazzUU4aHZ2X0VN3qbXKF1pLXHudNfSCZMDBqKiqyT_MLxcDt5wLwIo-w=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczME3V1GMXbZl9quETcKu91smw9xG1UMsEMT7xktxwr9ZpTMoXfAI8-BF6hct1Hyyj0BFQGskaabCmwCts7WnrEiHb_2cn_JYy-VrHqLxlLcXSzOcA=w1920-h1080"></object>
                  <object data="https://lh3.googleusercontent.com/pw/AP1GczO1FWpwpALoDRcSmJoWvNhJkEGDott6Folsv3hzvVwpk2BmgtPduJmqNZGtMOcBskja8YJkOV47LU5lolZqaVzLnCd6-ro8aLWrkJHueGmPsuNUeg=w1920-h1080"></object>
                </div>
          </section>
          <!-- <img src="https://hotelcottage.com.uy/images/eventos-cottage-cumple15-2019-salon-casona-8.jpg?crc=4102752296" class="d-block w-100 service-image" alt="Decoración de Cumpleaños 3"> -->

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#decoracionCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#decoracionCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
    <div class="service-info">
      <h2 class="service-title">Captura los Recuerdos de tu Cumpleaños</h2>
      <p>Revive cada sonrisa, cada sorpresa y cada momento especial de tu cumpleaños con nuestros servicios profesionales de fotografía y video. Desde la llegada de los invitados hasta el corte de la torta y la diversión en la pista, capturamos la esencia de tu celebración para que los recuerdos perduren para siempre.</p>
      <p class="service-price">Fotografía desde: <span class="highlight">$4.000</span></p>
      <p class="service-price">Video desde: <span class="highlight">$4.500</span></p>
      <p class="service-price">Paquete Foto + Video desde: <span class="highlight">$7.500</span></p>
      <button class="btn btn-outline-primary btn-sm" (click)="toggleDetails('fotoVideoDetails')">Ver detalles de Foto y Video</button>
    </div>
  </div>
</section>

<div id="fotoVideoDetails" class="service-details" *ngIf="isFotoVideoDetailsVisible">
  <h3>Detalles de Fotografía y Video para Cumpleaños</h3>
  <p>Nuestro equipo de fotógrafos y videógrafos expertos se encargará de documentar cada detalle de tu fiesta de cumpleaños de manera creativa y profesional.</p>
  <h4>Fotografía:</h4>
  <ul>
    <li>Cobertura completa del evento</li>
    <li>Sesiones de fotos espontáneas y grupales</li>
    <li>Entrega de fotografías editadas en alta resolución</li>
    <li>Opciones de álbumes personalizados y copias impresas</li>
  </ul>
  <h4>Video:</h4>
  <ul>
    <li>Grabación profesional con cámaras de alta definición</li>
    <li>Edición de video con música, efectos y momentos destacados</li>
    <li>Opciones de video resumen y video completo del evento</li>
    <li>Entrega en formato digital para compartir fácilmente</li>
  </ul>
  <p>¡Consúltanos por nuestros paquetes personalizados que se adaptan a tus necesidades y presupuesto!</p>
</div>
