<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Contacto</h3>
      <p>Teléfono: 094 567 890</p>
      <p>Correo: info@servicephoto.com</p>
    </div>

    <div class="footer-section">
      <h3>Horario de Atención</h3>
      <p>Lunes a Viernes: 9:00 - 18:00</p>
      <p>Sábados: 9:00 - 13:00</p>
    </div>

    <div class="footer-section footer-logo">
      <a routerLink="/" class="logo-link">
        <img src="assets/img/logo_blanco_pequeño.png" alt="Logo de ServicePhoto" class="logo">
      </a>
      <p>© 2025 bsfotografiayvideo@gmail.com</p>
    </div>

    <div class="footer-section">
      <h3>Síguenos</h3>
      <div class="social-links">
        <a href="https://wa.me/tunumero" target="_blank" aria-label="WhatsApp">
          <i class="bi bi-whatsapp"></i>
        </a>
        <a href="https://instagram.com/tu_usuario" target="_blank" aria-label="Instagram">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
