# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Kilocode
.kilocode/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Environment variables and sensitive files
server/.env
server/credentials.json
server/serviceAccountKey.json
nodemailer-backend/.env
environment/environment.ts
environment/environment.prod.ts



render-server/.env
render-server/serviceAccountKey.json
render-server/credentials.json
render-server/serviceAccountKey.json
render-server/src/environments/environment.ts
render-server/src/environments/environment.prod.ts

# Firebase
.firebase/
.firebase/*
.firebaserc
.gitignores
.gitignores/*
firebase-debug.log
functions/.env
functions/node_modules
functions/.firebase/
functions/.firebaserc
functions/firebase-debug.log
functions/firebase-debug.*.log
functions/.chrome
functions/.chromium
functions/.local-chromium
functions/lib
functions/src/environments/environment.ts
functions/src/environments/environment.prod.ts
functions/src/credentials.json
functions/src/serviceAccountKey.json
