<nav class="navbar">
  <div class="navbar-brand-container">
    <a class="navbar-brand" href="#">
      <picture>
        <!-- <source media="(max-width: 600px)" srcset="assets/img/logo_blanco_small.png"> -->
        <img src="assets/img/logo_blanco.png" class="logo" alt="Logo de Mi Aplicación">
      </picture>
    </a>
  </div>
  <button class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="navbar-links">
    <a href="#about">Nosotros</a>
    <a href="#galeria">Galeria</a>
    <a href="#extras">Extras</a>
    <a href="servicios.html" id="servicios" *ngIf="user$ | async">Servicios</a>
    <a href="#contact">Contacto</a>
    <a class="nav-link carrito-nav-link" id="carrito-nav" href="paginas/carrito.html" *ngIf="user$ | async">
      <img src="assets/img/icons/025-cart.png"   alt="Carrito" class="carrito-icono-navbar">
      <span id="carrito-cantidad-navbar">0</span>
    </a>
  </div>
  <div class="navbar-auth" id="navbar-auth">
    <ng-container *ngIf="user$ | async as user">
      <span class="bienvenido" *ngIf="user">Bienvenido: {{ user?.email }}</span>
      <button (click)="logout()" class="boton">Cerrar Sesión</button>
    </ng-container>
    <button *ngIf="!(user$ | async)" data-bs-toggle="modal" data-bs-target="#authModal" class="boton">Login</button>

  </div>
</nav>
