<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-logo">
      <img src="../../assets/img/logo_blanco.png" alt="Logo Tu Evento">
    </a>
    <div class="navbar-toggle" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="navbar-menu" [ngClass]="{ 'active': isMenuOpen }">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" (click)="closeMenu()">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/cumpleanos" class="nav-link" (click)="closeMenu()">Cumpleaños</a>
        </li>
        <li class="nav-item">
          <a routerLink="/casamientos" class="nav-link" (click)="closeMenu()">Casamientos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/extras" class="nav-link" (click)="closeMenu()">Extras</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contacto" class="nav-link" (click)="closeMenu()">Contacto</a>
        </li>
        <li class="nav-item">
          <a routerLink="/nosotros" class="nav-link" (click)="closeMenu()">Nosotros</a>
        </li>
      </ul>
      <div class="navbar-auth">
        <ng-container *ngIf="!isLoggedIn">
          <button class="auth-button login-button" (click)="loginModal.openModal()">Iniciar Sesión</button>
          <button class="auth-button register-button" (click)="registerModal.openModal()">Registrarse</button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn && loggedInUser">
          <span class="me-2">Bienvenido, {{ loggedInUser.email || loggedInUser.username }}</span>
          <button class="auth-button logout-button" (click)="logout()">Cerrar Sesión</button>
        </ng-container>
      </div>
    </div>
  </div>
</nav>

<app-login-modal #loginModal (closeModalEvent)="closeLoginModal()" (loginSuccess)="handleLoginSuccess($event)"></app-login-modal>
<app-register-modal #registerModal (closeModalEvent)="closeRegisterModal()" (registerSuccess)="handleRegisterSuccess($event)"></app-register-modal>
