# .htaccess
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://cold-ailina-kowa77-12fcae88.koyeb.app"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
    Header set Access-Control-Max-Age "86400"
</IfModule>

# Este bloque es crucial para manejar las solicitudes OPTIONS directamente a nivel de Apache
RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]
