<div class="gallery-container">
  <h2>Mi Galería de Fotos</h2>

  @if (isLoading) {
    <div class="loading-message">Cargando fotos...</div>
  } @else {
    @if (photos.length > 0) {
      <!-- gallery usa un template personalizado para el visor de imagen -->
      <gallery [items]="photos" [itemTemplate]="itemTemplate"></gallery>
    } @else {
      <div class="no-photos-message">
        No se encontraron fotos en tu álbum.
      </div>
    }
  }
</div>

<!-- Template para el visor de imágenes. 'item' contiene los datos de la imagen. -->
<ng-template #itemTemplate let-item>
  <div class="image-wrapper">
    <img [src]="item.src" class="gallery-image">
    <!-- Botón de descarga. El 'click' llama al método downloadImage con la URL de la imagen. -->
    <button class="download-button" (click)="downloadImage(item.src)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
      Descargar
    </button>
  </div>
</ng-template>


